<mat-card>
    <mat-card-title>
        Select
    </mat-card-title>
    <mat-card-content>
        <p>Please, select one class</p>
        <mat-form-field>
            <mat-select placeholder="Chose one class:">
                <mat-option valeu="class0">Class0</mat-option>
                <mat-option valeu="class1">Class1</mat-option>
                <mat-option valeu="class2">Class2</mat-option>
                <mat-option valeu="class3">Class3</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>