<section>
    <mat-card style="margin: 20px;">
        <mat-card-header>
            <mat-card-title>
                Two Way Data Binding
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Obrigatório importar  FormsModule from '@angular/forms'; no app.module.ts
            </p>
            <form>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder=" Enter your name"
                    [(ngModel)]="name1" 
                    name = anyNAme1>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder=" Enter your name"
                    [(ngModel)]="name2"
                    name = anyName2>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <p>{{name1}}</p>
            <p>{{name2}}</p>
        </mat-card-actions>
    </mat-card>
</section>

<section>
    <mat-card style="margin: 20px;">
        <mat-card-header>
            <mat-card-title>
                Client (Object + Two Way Data Binding)
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <form>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder=" Frist Name"
                    [(ngModel)]="client.firstName" 
                    name = firstName>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder=" Last Name"
                    [(ngModel)]="client.lastName"
                    name = lastName>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder=" Address"
                    [(ngModel)]="client.address"
                    name = Address>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder=" Age"
                    [(ngModel)]="client.age"
                    name = age
                    type="number">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <p>Frist Name: {{client.firstName}}</p>
            <p>Last Name: {{client.lastName}}</p>
            <p>Address: {{client.address}}</p>
            <p>Age: {{client.age}}</p>
        </mat-card-actions>
    </mat-card>
</section>
