<mat-card class="eventCard">
    <mat-card-header>
        <mat-card-title>
            Event Binding
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <section>
            <button mat-button 
                color="primary" 
                (click)="click()">Show in console
            </button>
            <button mat-button 
                color="warn" 
                (click)="add()">{{buttonName}}
            </button>    
        </section>
        <!--<mat-divider></mat-divider>-->        
        <section>
            <button mat-button 
                color ="primary" 
                [disabled]="!btnEnable">Button 1
            </button>
            <button mat-button 
                color ="accent" 
                [disabled]="!btnEnable">Button 2
            </button>
            <button mat-button 
                color ="warn" 
                [disabled]="!btnEnable" 
                (click)="desabled()">Disable and run spinner
            </button>
            <mat-spinner
                color="primary"
                [mode]="mode"
                [value]="count">
            </mat-spinner>
        </section>
        <mat-divider></mat-divider>
        <section>
            <p>
                <mat-checkbox color="warn" 
                    (change)="cbChange($event.checked)"> Disable / Enable 
                </mat-checkbox>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Selects</mat-label>
                    <mat-select matNativeControl required 
                    [disabled]="!cbEnable"
                    (selectionChange)="selectionChange($event)">
                        <mat-option value="1">Select 1</mat-option>
                        <mat-option value="2">Select 2</mat-option>
                        <mat-option value="3">Select 3</mat-option>
                        <mat-option value="4">Select 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                Selected Option {{selectOption}}
            </p>
        </section>
        <mat-divider></mat-divider>
        <section>
            <br>
            <br>
            <p>
                Event Binding + Propert Biding + String Interpolation = Two Way Data Binding
            </p>

            <mat-form-field class="example-full-width">
                <mat-label>Input Word</mat-label>
                <input matInput placeholder="Enter a word!" 
                (input)="inputEvent($event)" 
                [value]="inputWord">
                <!-- (input)="inputWord = $event.target.value" Gera o erro 
                    error TS2339: Property 'value' does not exist on type 'EventTarget'
                Ver o por que -->
            </mat-form-field>

            <p>Input Word {{inputWord}}</p> 

        </section>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>

